extends layouts/page

block content
  main#js-app.app.visitor
    #js-timer-container.timer-container
      h1#js-countdown.countdown 00:00:00

      h1#js-time-over.time-over The time is over!

block append footer_scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js")
  script(src="//cdn.rawgit.com/albert-gonzalez/easytimer.js/89f51789/dist/easytimer.min.js")
  script(src="/assets/js/visitor.js")
