extends layouts/page

block content
  main#js-app.app.manager
    div
      #js-timer-container.timer-container
        h1#js-countdown.countdown 00:00:00

        h1#js-time-over.time-over The time is over!

    div
      .options
        .option
          .timer
            input#js-timer.input.input--primary(type="tel", min="0", step="1", placeholder="20 minutes", value="20")

        .option
          .button-groups
            button#js-start.button.button--primary Start
            button#js-pause.button Pause
            button#js-stop.button.button--danger Stop

      .room-link
        label.room-link__label(for="js-room-link") Share with your friends! 😉
        input#js-room-link.input.input--primary.room-link__input(type="text", name="room-link", readonly, value=shareUrl)
        button#js-copy-link.button.room-link__button Copy

block append footer_scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js")
  script(src="//cdn.rawgit.com/albert-gonzalez/easytimer.js/89f51789/dist/easytimer.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js")
  script(src="/assets/js/manager.js")
