extends layouts/page

block content
  main#js-app.app.start
    div.button-group
      button#js-create-room.button.button--primary Start!

block append footer_scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js")
  script(src="/assets/js/index.js")
